Repository ourjapanlife/findadoc-web, pull requests merged in 2024-08, with the labels that each got.

#632 Toggle location submissions and healthcareProfessionals submissions
  components/ModDashboardLeftNavbar.vue
  components/ModLeftNavbar.vue
  components/ModMainContent.vue
  components/ModSubmissionListContainer.vue
  components/ModTopbar.vue
  cypress/e2e/moderationDashboard.cy.ts
  i18n/locales/de.json
  i18n/locales/en.json
  i18n/locales/ja.json
  i18n/locales/pt.json
  i18n/locales/ru.json
  pages/moderation/edit-facility/[id].vue
  pages/moderation/edit-healthcare-professional/[id].vue
  pages/moderation/edit-submission/[id].vue
  stores/facilitiesStore.ts
  stores/healthcareProfessionalsStore.ts
  stores/moderationScreenStore.ts
  stores/moderationSubmissionsStore.ts
Labels: moderation panel

#659 feat: implement mutation rejection for facility submission
  components/ModEditSubmissionTopbar.vue
  stores/moderationSubmissionsStore.ts
  utils/graphql.ts
Labels: moderation panel

#657 feat(lang): implement key check for locale files on push
  .husky/pre-push
  i18n/checkLocaleKeys.js
  i18n/locales/ja.json
  i18n/locales/pt.json
  i18n/locales/ru.json
  package.json
Labels: i18n, localization

#682 fix: refactor tests to lessen ci/cd failures
  .github/workflows/cypress.yml
  cypress/e2e/moderationDashboard.cy.ts
  cypress/e2e/submit.cy.ts
  i18n/locales/de.json
  i18n/locales/ja.json
  i18n/locales/pt.json
  i18n/locales/ru.json
Labels: bug, CI/CD

#684 feat: implement locales lint into ci/cd
  .github/workflows/lint-locales.yml
  i18n/checkLocaleKeys.js
Labels: CI/CD

#654 feat: implement facility edit submission left navbar
  components/ModLeftNavbar.vue
  components/ModMainContent.vue
  components/ModSubmissionLeftNavbar.vue
  components/ModSubmissionsEditFormFacility.vue
  cypress/e2e/moderationDashboard.cy.ts
  i18n/locales/de.json
  i18n/locales/en.json
  i18n/locales/ja.json
  i18n/locales/pt.json
  i18n/locales/ru.json
  stores/moderationScreenStore.ts
  utils/handleScroll.ts
Labels: moderation panel

#636 feat: implement submission update in form
  assets/icons/caution-sign.svg
  components/ModEditSubmissionTopbar.vue
  components/ModSubmissionsEditFormFacility.vue
  cypress/e2e/moderationDashboard.cy.ts
  i18n/locales/de.json
  i18n/locales/en.json
  i18n/locales/ja.json
  i18n/locales/pt.json
  i18n/locales/ru.json
  stores/moderationSubmissionsStore.ts
  utils/countdownTimer.ts
Labels: enhancement, moderation panel

#695 feat(lang): add simplified Chinese support
  i18n/index.ts
  i18n/locales/cn.json
  stores/localeStore.ts
Labels: i18n

#709 Fix: professional name now displays on mod dashboard.
  components/ModSubmissionListContainer.vue
Labels: bug

#708 feat: extend submission form to include healthcare professionals
  components/ModEditSubmissionForm.vue
  components/ModInputField.vue
  components/ModMainContent.vue
  components/ModSubmissionLeftNavbar.vue
  cypress/e2e/moderationDashboard.cy.ts
  i18n/locales/cn.json
  i18n/locales/de.json
  i18n/locales/en.json
  i18n/locales/ja.json
  i18n/locales/pt.json
  i18n/locales/ru.json
  stores/moderationScreenStore.ts
  utils/multiSelectWithoutKeyboard.ts
Labels: enhancement, moderation panel

#707 docs: update readme with mod panel instructions
  README.md
Labels: documentation

#692 chore: upgraded all packages and yarn
  .yarn/releases/yarn-4.3.1.cjs
  .yarn/releases/yarn-4.4.0.cjs
  .yarnrc.yml
  eslint.config.js
  package.json
  stores/specialtiesStore.ts
  stores/submissionStore.ts
  typesgeneratorconfig.ts
  yarn.lock
Labels: security, code quality

#704 fix: add id missing in update submission
  components/ModEditSubmissionForm.vue
  stores/moderationSubmissionsStore.ts
Labels: bug, moderation panel

#717 fix: style overflow y to auto on search results list
  components/SearchResultsList.vue
  cypress/e2e/home.cy.ts
Labels: bug, testing, UI / UX

#715 refactor: replace nuxt-link with NuxtLink
  components/ModSubmissionListContainer.vue
Labels: bug, moderation panel
